# Other Ideas

This a class

In [1]:
class TACO:

    """
    TACO !!!!!!!!!!!!!
    """

    def __init__(self):
        self.name = None
        self.evolution = None
        self.ability = None
        self.pokemon_type = None

    def who_is_that_TACO(self):
        """
        Shows the TACO's name and its evolution.

        Usage: at
        """

In [4]:
import pandas as pd
import numpy as np

In [6]:
pd.DataFrame(np.random.rand(3,3))

          0         1         2
0  0.426698  0.550299  0.887559
1  0.339766  0.230622  0.031561
2  0.636414  0.115072  0.026880